body {
    background-color: rgb(255, 255, 255);
    margin:0; padding:0;
    cursor:crosshair;
}

#headerPage {
    width:100vw; height:390px;
    background: rgb(10,52,80);
    background: linear-gradient(0deg, rgba(10,52,80,1) 0%, rgba(9,46,71,1) 50%, rgba(7,39,61,1) 100%);
    display:flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}

#headerPageItems {
    position: absolute;
    top:60px;
    width:180px;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}

#headerPageMission {
    color:rgba(255, 255, 255, 0.678);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

#clouds {
    background-image: url("clouds.PNG");
    width:100%; height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gapSpace {
    width:100%; height:50px;
}

#foxmithLogo {
    width:180px; height: 60px;
}

#puzzlePageFilterBar {
    display: flex;
    flex-direction: row;
    gap:8px;
}

#selectionMathPuzzles,#selectionBrainBenders {
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;
    padding:4px;
    border-radius: 6px;
}




#puzzlePage {
    background-color: rgb(255, 255, 255);
    width:100vw; height:600px;
    margin-top:-250px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    gap:4%;
}

#puzzleWrapper1 {
    width:350px;height:340px;
    display: flex;
    position: relative;
    justify-content: center; align-items: center;
    flex-wrap: wrap;
    gap:10px;
}
#puzzleWrapper2, #puzzleWrapper3 {
    width:350px;height:340px;
    display: flex;
    position: relative;
    justify-content: center; align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

#voylesPuzzleTile, #fishermansTaleTile, #comingSoonTile {
    width:350px; height:170px;
    background-image: url("comingSoon.PNG");
    background-size: cover;
    justify-content: center; align-items: center;
    border-radius: 12px;
    cursor: pointer;
}
#voylesPuzzleTile { background-image: url("voylesPuzzle.PNG");}
#fishermansTaleTile { background-image: url("comingSoon.PNG");}
#comingSoonTile { background-image:url("comingSoon2.PNG")}


.brainBenderTile {
    width:170px; height:170px;
    background-image: url("brainBenders1.PNG");
    background-size: cover;
    border-radius: 12px;
    cursor: pointer;
}
#brainBenders1Tile {
    background-image: url("brainBenders1.PNG");
}
#brainBenders2Tile {
    background-image: url("brainBenders2.PNG");
}
#brainBenders3Tile {
    background-image: url("brainBenders3.PNG");
}
#brainBenders4Tile {
    background-image: url("brainBenders4.PNG");
}
#brainBenders5Tile {
    background-image: url("brainBenders5.PNG");
}
#brainBenders6Tile {
    background-image: url("brainBenders6.PNG");
}


.voylesPuzzleImages {
    width: 97%;
}

#voylesPuzzleUI {
    display:none;
    position: relative;
    width:350px; height:350px;
    background-color: black;
    border:3px solid rgb(53, 228, 228);
    justify-content: center; align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap:4px;
    border-radius: 12px;
}
#brainBenders1UI, #brainBenders2UI, #brainBenders3UI, #brainBenders4UI, #brainBenders5UI, #brainBenders6UI {
    display:none;
    position: relative;
    width:350px; height:350px;
    background-color: rgb(32, 32, 32);
    justify-content: center; align-items: center;
    top:-180px;
    box-sizing: border-box;
    padding: 20px;
    gap:4px;
    flex-wrap: wrap;
    border-radius: 12px;
}

#brainBenders1UI {border:3px solid rgb(53, 228, 228);}
#brainBenders2UI {right:180px;border:3px solid rgb(53, 228, 228);}
#brainBenders3UI {border:3px solid rgb(243, 213, 42);}
#brainBenders4UI {right:180px;border:3px solid rgb(243, 213, 42);}
#brainBenders5UI {border:3px solid rgb(206, 28, 182);}
#brainBenders6UI {right:180px;border:3px solid rgb(206, 28, 182);}

.brainBenderImages {
    width:98px; height:98px;
}
.brainBenderImages:hover {
    transform: scale(1.5);
}

.tiles {
    width:50px; height:46px;
    background-color: aliceblue;
    display:flex;
    color:rgb(226, 255, 255);
    justify-content: center; align-items: center; 
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgb(133, 133, 133) 0%, rgb(99, 99, 99) 100%);
    box-sizing: border-box;
    border:grey 3px outset;
    border-radius: 6px;
}
.tiles:hover {
    transform:scale(1.1);
    cursor: grab;
    background: rgb(226,225,225);
    background: linear-gradient(270deg, rgb(149, 176, 189) 0%, rgb(92, 109, 114) 100%);
}
#tileSecret:hover {
    transform:scale(1.03);
    background: rgb(226,225,225);
    background: linear-gradient(270deg, rgb(149, 176, 189) 0%, rgb(92, 109, 114) 100%);
}

#tileSecret {
    width:212px; height:46px;
    background-color: aliceblue;
    display:flex; box-sizing: border-box;
    justify-content: center; align-items: center; 
}

#returnToPuzzle1, #returnToPuzzle1B,#returnToPuzzle2, #returnToPuzzle3 {
    position: absolute;
    display:none;
    color:rgb(255, 255, 255);
    right:3px; top:3px;
    width:25px; height:25px;
    font-size:18px;
    padding-bottom:4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(240, 38, 38);
    align-items: center; justify-content: center;
}


#returnToLetterBoard {
    position: absolute;
    display:none;
    color:rgb(255, 255, 255);
    right:7px; top:11px;
    width:25px; height:25px;
    font-size:20px;
    border-radius: 50px;
    background-color: rgb(240, 38, 38);
    align-items: center; justify-content: center;
    transform: rotate(45deg);
}
#returnToLetterBoard:hover, #returnToPuzzle1:hover, #returnToPuzzle1B:hover,
 #returnToPuzzle2:hover {
    cursor:grab;
    background-color: rgb(182, 17, 17);
}

.voylesPuzzleDisplays {
    background-color: rgb(255, 255, 255);
    position: absolute;
    display:none;
    align-items: center; justify-content: center;
    width:340px; height:333px;
    box-sizing: border-box;
    top:9px;
    border-radius: 12px;
}

#voylesPuzzleDisplayNImage {width:80%; height:80%;}
#voylesPuzzleDisplayOImage {width:80%;}
#voylesPuzzleDisplayQImage {width:70%; height:70%;}
